bin/configure.exe
bin/tkeAbonent.exe
bin/tkeOrganizacii.exe
bin/tkeQtSqlBrowser.exe
dst/*.exe
tmp/

Makefile
*.pro.user
*.pro.user.*
*.Debug
*.Release
*.exe

bin/tkeDBUpdateResults.tkeDB
*.ldb

save_db/*
