bin/configure.exe
bin/tkeAbonent.exe
bin/tkeOrganizacii.exe
bin/tkeQtSqlBrowser.exe
dst/*.exe
tmp/
tmpd/

Makefile
*.pro.user
*.pro.user.*
*.Debug
*.Release
*.exe

*.o

bin/tkeDBUpdateResults.tkeDB
*.ldb

save_db/*
*.DBF
*object_script.*
